useDynLib(nmmsims, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import(dplyr)
import(parallel)
import(tidyverse)
import(unmarked)
importFrom(matrixStats,rowProds)
importFrom(nortest,ad.test)
importFrom(nortest,lillie.test)
importFrom(tidyr,pivot_longer)
importFrom(truncnorm,rtruncnorm)
importFrom(unmarked,getP)
importFrom(Rcpp, evalCpp)
